<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PhanMemQuanLyThuVien.Properties.Settings.QuanLiThuVienConnectionString"
            connectionString="Data Source=TRANTUNG\TUNG;Initial Catalog=QuanLiThuVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>