<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QuanLiThuVienConnectionString"
            connectionString="Data Source=TRANTUNG\TUNG;Initial Catalog=QuanLiThuVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TRANTUNG\TUNG_QuanLiThuVien_Connection" connectionString="XpoProvider=MSSqlServer;data source=TRANTUNG\TUNG;integrated security=SSPI;initial catalog=QuanLiThuVien" />
    </connectionStrings>
</configuration>